// Styles common to both AnalticsChart and SimpleChart
.analytics-chart-shell,
.simple-chart-shell {
  border-radius: $kui-border-radius-20;
  display: flex;
  flex-direction: column;

  .chart-empty-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
