@use "./globals" as *;

$legend-height: calc(var(--kui-space-110, $kui-space-110) + 1px);
$legend-height-values: var(--kui-space-140, $kui-space-140);

.chart-parent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  position: relative;
  width: inherit;

  // Chart and Legend are stacked
  &.column {
    flex-direction: column;

    .chart-container {
      flex-shrink: 0;
      height: calc(100% - #{$legend-height});
      width: 100%;
    }
  }

  .chart-container {
    flex: 1 1 auto;
    height: 100%;
    // Per ChartJS docs, the chart container needs to be position: relative and _only_ contain the chart canvas.
    // https://www.chartjs.org/docs/latest/configuration/responsive.html
    position: relative;
  }
}

.analytics-chart-shell.show-values .chart-parent.column .chart-container {
  // handle larger legend when values are shown
  height: calc(100% - #{$legend-height-values});
}
