.chart-parent {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-evenly;
  position: relative;
  width: inherit;

  // Chart and Legend are stacked
  &.column {
    flex-direction: column;

    .chart-container {
      max-height: calc(100% - 60px);
      width: 100%;
    }
  }

  // Chart and Legend on same row
  &.legend-row {
    flex-direction: row;

    .chart-container {
      height: 100%;
      width: 90%;

      // Allow chart to expand full width on mobile
      @media (max-width: ($kui-breakpoint-phablet - 1px)) {
        max-height: calc(100% - 60px) !important;
        width: 100% !important;
      }
    }
    @media (max-width: ($kui-breakpoint-phablet - 1px)) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .chart-container {
    flex: 1 1 auto;
    // Per ChartJS docs, the chart container needs to be position: relative and _only_ contain the chart canvas.
    // https://www.chartjs.org/docs/latest/configuration/responsive.html
    position: relative;
  }
}
