$color-grey: var(--grey-500, #6f7787);
$color-grey-dark: var(--grey-600, #3c4557);
$color-green: var(--green-500, #07a88d);
$color-red: var(--red-500, #d44324);
$color-white: var(--white, white);
$color-black-10: var(--black-10, rgba(0, 0, 0, 0.1));