@use "@kong/design-tokens/tokens/scss/variables" as *;

@mixin scrollbarBase($size: var(--kui-space, 40, $kui-space-40)) {
  -ms-overflow-style: thin;
  scrollbar-color: var(--kui-color-background-disabled, $kui-color-background-disabled) var(--kui-color-background-transparent, $kui-color-background-transparent);
  scrollbar-width: auto;

  ::-webkit-scrollbar {
    width: $size;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--kui-color-background-disabled, $kui-color-background-disabled);
    border-radius: var(--kui-border-radius-50, $kui-border-radius-50);
  }
}

@mixin tooltipTitle() {
  border-bottom: var(--kui-border-width-10, $kui-border-width-10) solid var(--kui-color-border, $kui-color-border);
  display: flex;
  flex-direction: column;
  margin: var(--kui-space-30, $kui-space-30);
  min-height: 24px;
  padding-bottom: var(--kui-space-30, $kui-space-30);

  .title {
    font-size: var(--kui-font-size-30, $kui-font-size-30);
    font-weight: var(--kui-font-weight-semibold, $kui-font-weight-semibold);
  }

  .subtitle {
    display: flex;
    font-size: var(--kui-font-size-20, $kui-font-size-20);
    justify-content: space-between;
    margin-top: var(--kui-space-30, $kui-space-30);
  }
}
