$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$spacing-xl: var(--spacing-xl, 20px);
$spacing-lg: var(--spacing-lg, 18px);
$spacing-md: var(--spacing-md, 16px);
$spacing-sm: var(--spacing-sm, 14px);
$spacing-xs: var(--spacing-xs, 12px);
$spacing-xxs: var(--spacing-xss, 10px);
$spacing-8: var(--spacing-8, 8px);