$sidebar-width: 240px;
$sidebar-header-spacing: $kui-space-40;
$sidebar-item-font-size: $kui-font-size-30;
$sidebar-item-border-radius: $kui-border-radius-20;

// Scrollbar
$scrollbar-width: 8px;
$scrollbar-foreground-color: $kui-color-background-neutral;
$scrollbar-background-color: $kui-color-background-transparent;

@mixin scrollbarBase($size: $scrollbar-width) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    height: $size;
    opacity: 1;
    width: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $kui-color-background-transparent; // Hide the scrollbar until hovered
    border-radius: $kui-border-radius-40;
  }
  &::-webkit-scrollbar-track {
    background: $kui-color-background-transparent; // Hide the scrollbar until hovered
  }

  // Standard version (Firefox only for now) - always include
  scrollbar-color: $kui-color-background-transparent $kui-color-background-transparent;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}

@mixin scrollbarVisible(
  $foreground-color: $scrollbar-foreground-color,
  $background-color: $scrollbar-background-color
) {
  &::-webkit-scrollbar-thumb {
    background: $foreground-color; // update the color to be visible
  }
  &::-webkit-scrollbar-track {
    background: $background-color; // update the color to be visible
  }

  // Standard version (Firefox only for now) - always include
  scrollbar-color: $foreground-color $background-color;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}
