# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
lerna_error.txt

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
_public
bundle-analyzer

cypress/videos/
cypress/screenshots/
cypress/downloads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
# cli bin
packages/core/cli/bin
