# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven

# Core packages
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom
/packages/core/app-layout/ @adamdehaven @jillztom

# Portal packages
/packages/portal/document-viewer/ @Kong/team-core-ui
/packages/portal/mini-spec-renderer/ @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @davidma415 @kaiarrowood

# =========================================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
pnpm-lock.yaml @kongponents-bot @adamdehaven @ValeryG @jillztom
package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/core/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/portal/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
