@mixin pointer-events-none {
  pointer-events: none;
}

@mixin pointer-events-all {
  pointer-events: all;
}

@mixin flex-gap($h_amount: $kui-space-60, $v_amount: $kui-space-60) {
  column-gap: $h_amount;
  row-gap: $v_amount;
}
