@use "./variables" as *;

.kong-ui-app-layout-html,
.kong-ui-app-layout-body,
.kong-ui-app-sidebar,
.kong-ui-app-navbar {
  // Disabling stylelint rule here to allow for deprecated Kongponents theming variables
  /* stylelint-disable-next-line custom-property-pattern */
  --KInputLabelWeight: var(--kui-font-weight-semibold, $kui-font-weight-semibold);
  /* stylelint-disable-next-line custom-property-pattern */
  --KongAuthFontFamily: var(--kui-font-family-text, $kui-font-family-text);
  /* stylelint-disable-next-line custom-property-pattern */
  --KongAuthFontWeight: var(--kui-font-weight-regular, $kui-font-weight-regular);
}

html.kong-ui-app-layout-html {
  -ms-overflow-style: scrollbar;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.kong-ui-app-layout-html,
body.kong-ui-app-layout-body {
  height: 100%; // Reenable these rules to move the scrollbar under the AppNavbar
  height: 100vh; // Reenable these rules to move the scrollbar under the AppNavbar
  margin: var(--kui-space-0, $kui-space-0);
  overflow: hidden; // Reenable these rules to move the scrollbar under the AppNavbar
  overscroll-behavior-y: none; // Disable elastic overflow scrolling in Chrome and Safari
  padding: var(--kui-space-0, $kui-space-0);
  width: 100%;
}

body.kong-ui-app-layout-body {
  background-color: var(--kui-color-background, $kui-color-background);
  color: var(--kui-color-text, $kui-color-text);
  font-family: var(--kui-font-family-text, $kui-font-family-text);
  font-size: var(--kui-font-size-40, $kui-font-size-40);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  line-height: var(--kui-line-height-40, $kui-line-height-40);
}

#app {
  height: 100%;
}

// Kong Auth Elements overrides
.kong-auth-element {
  font-family: var(--kui-font-family-text, $kui-font-family-text) !important;

  .kong-auth-login-form {
    .alert.danger .k-alert-msg {
      white-space: pre-line;
    }
  }
}
