// Typography
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// Colors
$color-grey: var(--grey-500, #6f7787);
$color-grey-dark: var(--grey-600, #3c4557);
$color-green: var(--green-500, #07a88d);
$color-red: var(--red-500, #d44324);