// Typography
.type-xl {
  font-size: 22px;
}
.type-lg {
  font-size: 18px;
}

.type-md {
  font-size: 16px;
}

.type-sm {
  font-size: 14px
}

.type-xs {
  font-size: 12px;
}

// Colors
.color-green-500 {
  color: var(--green-500, #07a88d);
}

.color-red-500 {
  color: var(--red-500, #d44324);
}

.color-grey-500 {
  color: var(--grey-500, #6f7787);
}