@mixin hr() {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: $kui-space-60;
}

@mixin routing-rule() {
  &-container {
    &:not(:first-of-type) {
      margin-top: $kui-space-80;
    }

    hr {
      @include hr;
    }
  }

  &-input {
    align-items: center;
    column-gap: $kui-space-100;
    display: flex;

    .k-input {
      width: 100%;
    }

    &:not(:first-of-type) {
      margin-top: $kui-space-60;
    }

    .methods-input {
      &-container {
        display: flex;
        flex-wrap: wrap;
        gap: $kui-space-50;
      }

      // fixing mixed-decls deprecation: https://sass-lang.com/d/mixed-decls
      // stylelint-disable-next-line no-duplicate-selectors
      & {
        display: flex;
        flex-wrap: wrap;
        gap: $kui-space-20;
      }

      // stylelint-disable-next-line selector-pseudo-class-no-unknown
      :deep(label.k-switch) {
        margin: 0 !important;
      }
    }
  }
}

@mixin routing-rules-selector() {
  &-container {
    margin-top: $kui-space-80;

    hr {
      @include hr;
    }
  }

  &-options {
    align-items: center;
    background-color: $kui-color-background-primary-weakest;
    border: 1px solid $kui-color-border-primary-weak;
    border-radius: 30px;
    display: flex;
    padding: 0 6px;
    width: fit-content;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        display: inline-flex;
        list-style: none;
      }
    }

    .option {
      border: 1px solid transparent;
      border-radius: 19px;
      box-shadow: none;
      color: $kui-color-text-primary-strong;
      cursor: pointer;
      font-size: $kui-font-size-40;
      font-weight: 600;
      margin: 0;
      margin-right: $kui-space-20;
      padding: $kui-space-20 10px;
      transition: box-shadow 0.2s ease;

      &.is-selected {
        color: $kui-color-text-primary-weak;
        pointer-events: none;
        text-decoration: line-through;
      }

      &:hover {
        box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.2s ease;

        &.is-selected {
          box-shadow: none;
        }
      }
    }
  }
}
