@use "@kong/design-tokens/tokens/scss/variables" as *;

@mixin hr() {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: var(--kui-space-60, $kui-space-60);
}

@mixin routing-rules() {
  .route-form {
    &-routing-rules-title-container {
      display: flex;
      justify-content: center;

      .protocol-title {
        font-size: $kui_font_size_40;

        &:not(:first-child) {
          &::before {
            content: '/';
            margin-right: $kui_space_40;
            padding-left: $kui_space_40;
          }
        }
      }

      .routing-rules-title {
        font-size: $kui_font_size_40;
        margin-left: $kui_space_40;
      }
    }

    &-advanced-fields-container {
      display: flex;
      flex-direction: column;
      margin-top: $kui_space_80;
    }

    &-fields-container {
      >* {
        &:not(:first-child) {
          margin-top: $kui_space_80;
        }
      }
    }
  }
}

@mixin routing-rule() {
  &-container {
    &:not(:first-of-type) {
      margin-top: var(--kui-space-80, $kui-space-80);
    }

    hr {
      @include hr;
    }
  }

  &-input {
    align-items: center;
    column-gap: var(--kui-space-60, $kui-space-60);
    display: flex;

    .k-input {
      width: 100%;
    }

    &:not(:first-of-type) {
      margin-top: var(--kui-space-60, $kui-space-60);
    }

    .methods-input {
      &-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--kui-space-50, $kui-space-50);
      }

      // fixing mixed-decls deprecation: https://sass-lang.com/d/mixed-decls
      // stylelint-disable-next-line no-duplicate-selectors
      & {
        display: flex;
        flex-wrap: wrap;
        gap: var(--kui-space-20, $kui-space-20);
      }

      // stylelint-disable-next-line selector-pseudo-class-no-unknown
      :deep(label.k-switch) {
        margin: 0 !important;
      }
    }
  }

  &-add-item-button {
    margin-top: var(--kui-space-60, $kui-space-60);
  }
}
