@use "@kong/design-tokens/tokens/scss/variables" as *;

$sidebar-width: 240px; // token set here to standardize
$sidebar-header-spacing: var(--kui-space-40, $kui-space-40); // token set here to standardize
$sidebar-item-font-size: var(--kui-font-size-30, $kui-font-size-30); // token set here to standardize
$sidebar-item-border-radius: var(--kui-border-radius-30, $kui-border-radius-30); // token set here to standardize

// Scrollbar
$scrollbar-width: 8px;
$scrollbar-foreground-color: var(--kui-color-background-neutral, $kui-color-background-neutral);
$scrollbar-background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);

@mixin scrollbarBase($size: $scrollbar-width) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    height: $size;
    opacity: 1;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--kui-color-background-transparent, $kui-color-background-transparent); // Hide the scrollbar until hovered
    border-radius: var(--kui-border-radius-40, $kui-border-radius-40);
  }

  &::-webkit-scrollbar-track {
    background: var(--kui-color-background-transparent, $kui-color-background-transparent); // Hide the scrollbar until hovered
  }

  // fixing mixed-decls deprecation: https://sass-lang.com/d/mixed-decls
  // stylelint-disable-next-line no-duplicate-selectors
  & {
    // Standard version (Firefox only for now) - always include
    scrollbar-color: var(--kui-color-background-transparent, $kui-color-background-transparent) var(--kui-color-background-transparent, $kui-color-background-transparent);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
}

@mixin scrollbarVisible(
  $foreground-color: $scrollbar-foreground-color,
  $background-color: $scrollbar-background-color
) {
  &::-webkit-scrollbar-thumb {
    background: $foreground-color; // update the color to be visible
  }

  &::-webkit-scrollbar-track {
    background: $background-color; // update the color to be visible
  }

  // fixing mixed-decls deprecation: https://sass-lang.com/d/mixed-decls
  // stylelint-disable-next-line no-duplicate-selectors
  & {
    // Standard version (Firefox only for now) - always include
    scrollbar-color: $foreground-color $background-color;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
}
