/* temporarily reset breadcrumb margin until it's fixed in swagger-ui-kong-theme */
.breadcrumb-margin {
  top: 0;
}

.swagger-ui .wrapper {
  padding-top: 0;
}

.swagger-ui .opblock {
  background: none !important;
}

.swagger-ui .json-schema-2020-12-accordion,
.swagger-ui .json-schema-2020-12-expand-deep-button {
  background-color: var(--kong-ui-section_colors-body) !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon {
  color: var(--kong-ui-text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon svg {
  fill: currentColor !important;
}
