/* stylelint-disable @kong/design-tokens/token-var-usage */
/* temporarily reset breadcrumb margin until it's fixed in swagger-ui-kong-theme */
.breadcrumb-margin {
  top: 0;
}

.swagger-ui .wrapper {
  padding-top: 0;
}

.swagger-ui .opblock {
  background: none !important;
}

.swagger-ui .opblock-summary-path {
  display: var(--kui-operation-summary-path-display, grid) !important;
  /* stylelint-disable-next-line @kong/design-tokens/use-proper-token */
  max-width: var(--kui-operation-summary-path-max-width, 100%) !important;
  overflow: var(--kui-operation-summary-path-overflow, visible) !important;
  text-overflow: var(--kui-operation-summary-path-text-overflow, visible) !important;
  white-space: var(--kui-operation-summary-path-white-space, wrap) !important;
  /* stylelint-disable-next-line property-no-deprecated */
  word-wrap: var(--kui-operation-summary-path-word-wrap, break-all) !important;
}

.swagger-ui .opblock-control-arrow {
  grid-column-start: 4;
  grid-row-start: 1;
  padding-left: 0;
  position: absolute;
  right: -8px;
  top: 3px;
}

/* Note: stylelint-disable-next-line added below as were using Portal variables (NOT design tokens) */

.swagger-ui .json-schema-2020-12-accordion,
.swagger-ui .json-schema-2020-12-expand-deep-button {
  /* stylelint-disable-next-line custom-property-pattern*/
  background-color: unset !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon,
.swagger-ui .json-schema-2020-12-accordion__icon--collapsed,
.swagger-ui .json-schema-2020-12-accordion__icon--expanded {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon svg {
  fill: currentColor !important;
}

.swagger-ui .json-schema-2020-12__attribute--primary {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-keyword__name--secondary {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-expand-deep-button {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}
