/* temporarily reset breadcrumb margin until it's fixed in swagger-ui-kong-theme */
.breadcrumb-margin {
  top: 0;
}

.swagger-ui .wrapper {
  padding-top: 0;
}

.swagger-ui .opblock {
  background: none !important;
}

.swagger-ui .json-schema-2020-12-accordion,
.swagger-ui .json-schema-2020-12-expand-deep-button {
  /* stylelint-disable-next-line custom-property-pattern*/
  background-color: var(--section_colors-body) !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon,
.swagger-ui .json-schema-2020-12-accordion__icon--collapsed,
.swagger-ui .json-schema-2020-12-accordion__icon--expanded {
  /* stylelint-disable-next-line custom-property-pattern*/
  color: var(--text_colors-primary) !important;
}

.swagger-ui .json-schema-2020-12-accordion__icon svg {
  fill: currentColor !important;
}
